<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>更新发布</title>
    <!-- <link rel="stylesheet" href="./static/css/semantic.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/editor/css/editormd.min.css" th:href="@{/editor/css/editormd.min.css}">
    <!--    <link rel="stylesheet" href="" th:href="@{/editor/lib/codemirror/codemirror.min.css}">-->
    <!--    <link rel="stylesheet" href="" th:href="@{/editor/lib/codemirror/addon/dialog/dialog.css}">-->
    <!--    <link rel="stylesheet" href="" th:href="@{/editor/lib/codemirror/addon/search/matchesonscrollbar.css}">-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../../static/editor/editormd.js" th:src="@{/editor/editormd.js}"></script>
    <!--    <script src="" th:src="@{/editor/lib/codemirror/codemirror.min.js}"></script>-->
</head>

<body>
<!-- 导航 -->
<nav class="ui inverted attached segment nav-padded nav-shadow">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog管理</h2>
            <a href="#" class="active show item mobile-hidden"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/admin/types}" class="show item mobile-hidden"><i class="idea icon"></i>分类</a>
            <a href="#" th:href="@{/admin/tags}" class="show item mobile-hidden"><i class="tags icon"></i>标签</a>
            <!-- <a href="#" class="show item mobile-hidden"><i class="clone icon"></i>归档</a>
            <a href="#" class="show item mobile-hidden"><i class="info icon"></i>关于</a> -->
            <div class="right menu">
                <!-- <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div> -->
                <div class="show ui dropdown item mobile-hidden">
                    <div class="text">
                        <img src="https://picsum.photos/120/120" alt="" class="ui avatar image" th:src="@{${session.user.avatar}}">
                        <span th:text="${session.user.nickname}">三月七</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="/admin/logout" class="item">退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon button right-top mobile-show btShow">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui menu">
    <div class="ui container">
        <div class="right menu">
            <a href="/admin/bloglist" class="item">列表</a>
            <a href="#" class="active item">发布</a>
        </div>
    </div>
</div>
<!-- 中间内容 -->
<div class="margin-large">
    <div class="ui container">
        <form id="blogform" action="#" th:object="${blog}" th:action="@{/admin/bloglist}"  method="post" class="ui segment form">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="required field">
                <div class="ui left labeled input">
                    <div class="ui selection teal basic dropdown label">
                        <input type="hidden" value="原创" name="flag" th:value="*{flag}">
                        <i class="dropdown icon"></i>
                        <div class="text">原创</div>
                        <div class="menu">
                            <div class="item" data-value="原创">原创</div>
                            <div class="item" data-value="转载">转载</div>
                        </div>
                    </div>
                    <input type="text" name="title" placeholder="标题" th:value="*{title}">
                </div>
            </div>
            <div class="required field">
                <div id="contents" style="z-index: 1 !important;">
                    <textarea name="content" id="" placeholder="博客内容" style="display: none;" th:text="*{content}"></textarea>
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <div class="ui left action labeled input">
                        <label class="ui teal basic label">分类</label>
                        <div class="ui fluid selection teal basic dropdown">
                            <input type="hidden" name="type.id" th:value="*{type.id}">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">日志</div>
                                <!--                                    <div class="item" data-value="2">手册</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left action labeled input">
                        <label class="ui teal basic label">标签</label>
                        <div class="ui fluid search selection dropdown multiple">
                            <input type="hidden" name="tagIds" th:value="*{tagIds}">
                            <i class="dropdown icon"></i>
                            <div class="default text">标签</div>
                            <div class="menu">
                                <div class="item" th:each="tag : ${tags}" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}">
                                    日记
                                </div>
                                <!--                                    <div class="item" data-value="2">-->
                                <!--                                        攻略-->
                                <!--                                    </div>-->
                                <!--                                    <div class="item" data-value="3">-->
                                <!--                                        杂谈-->
                                <!--                                    </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">图片</label>
                    <input type="text" name="firstPic" placeholder="图片引用地址" th:value="*{firstPic}">
                </div>
            </div>
            <div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommended" name="recommended" class="hidden" th:checked="*{recommended}">
                        <label for="recommended">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="shareStatement" name="shareStatement" class="hidden" th:checked="*{shareStatement}">
                        <label for="shareStatement">转载声明</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="commented" name="commented" class="hidden" th:checked="*{commented}">
                        <label for="commented">留言</label>
                    </div>
                </div>
            </div>
            <div class="ui error message"></div>
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button type="button" id="publish" class="ui teal button">更新</button>
            </div>
        </form>
    </div>
</div>
<!-- 底部 -->
<footer class="ui inverted vertical segment">
    <div class="ui center aligned container">
        <h4 class="text-style-thin text-spaced text-opacity-mini" style="font-size: 12px;">Copyright@2023-2024 Blog
            Designed by Lzh</h4>
    </div>
</footer>
</body>

</html>

<script>

    var contentEditor;

    $(function() {
        contentEditor = editormd("contents", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            path    : "/editor/lib/"
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });

    $('.btShow').click(function () {
        $('.show').toggleClass('mobile-hidden');
    });
    $('.qq').popup();
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    $('.ui.multiple').dropdown({
        allowAdditions: true,
        // maxSelections: 3
    });

    $('#publish').click(function (){
        $('#blogform').submit();
    });

    $('.ui.form').form({
        fields:{
            title:{
                identifier:'title',
                rules:[
                    {
                        type:'empty',
                        prompt:'标题:请输入博客标题'
                    }
                ]
            },
            content:{
                identifier:'content',
                rules:[
                    {
                        type:'empty',
                        prompt:'标题:请输入博客内容'
                    }
                ]
            },
            typeId:{
                identifier:'typeId',
                rules:[
                    {
                        type:'empty',
                        prompt:'标题:请输入博客类型'
                    }
                ]
            },
            firstPic:{
                identifier:'firstPic',
                rules:[
                    {
                        type:'empty',
                        prompt:'标题:请输入博客展示图片'
                    }
                ]
            },
        }
    });
</script>

<style scoped>
    /*body {*/
    /*    background: url(./img/cloud.jpg);*/
    /*    !* background: #749ae07a; *!*/
    /*    !* background-size: cover cover; *!*/

    /*}*/

    .ui.segment {
        background: #7691b31a;
    }

    img.ui.image {
        display: inline-block;
    }

    .ui.list .list>.item .header,
    .ui.list>.item .header {
        display: block;
        margin: 0;
        font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: rgb(79 146 161 / 87%);
    }

    .ui.link.list .item,
    .ui.link.list .item a:not(.ui),
    .ui.link.list a.item {
        color: rgb(190 213 237 / 40%);
        -webkit-transition: .1s color ease;
        transition: .1s color ease;
    }

    .ui.attached.segment {
        border: 0;
    }

    .ui.vertical.menu {
        background: #9495a77a;
    }

    .ui.basic.label {
        background: none #a1abdb;
    }
</style>