<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>fragment</title>-->
<!--    &lt;!&ndash; <link rel="stylesheet" href="./static/css/semantic.min.css"> &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">-->
<!--    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">-->
<!--    <link rel="stylesheet" href="editor/css/editormd.min.css" th:href="@{/editor/css/editormd.min.css}">-->
<!--    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>-->
<!--    <script src="editor/editormd.min.js" th:src="@{/editor/editormd.min.js}"></script>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->